@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'



// #app .reform
//   font-size 15px
html, body
  padding 0
  margin 0
  color #f0f0f0
  background-color $background

.page img{
  width:100%;
}

body
  font-family system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  // font-family 'Mirages Custom', 'Merriweather', 'Open Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei',  'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 1.1rem
  color $textColor

.page
  padding-left 0

.home 
  max-width $maxContentWidth

.blog-container
  display grid
  grid-template-columns $sidebarWidth auto 
  grid-column-gap $gridGap
  grid-template-areas "sidebar main"
  max-width $maxContentWidth
  margin: 0 auto


.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color $background 
  box-sizing border-box
  border-bottom 0 solid $borderColor
  max-width $maxContentWidth
  margin: 0 auto



.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 13px
  background-color $background
  width $sideRightWidth
  position relative
  z-index 12
  margin-top 2.6rem 
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 0 
  overflow-y auto

.content:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 50%
    margin: 2rem 25%

.content.custom
  padding 0
  margin 0
  img
    max-width 50%
    margin: 2rem 15%

a
  font-weight 500
  color $textColor
  text-decoration none

.page 
  .theme-default-content
    a
      font-weight 400
      color #42b983
    p, code
      font-weight 400
      color $textColor
    h1, h2, h3, h4, h5, h6
      color $textColor
      font-weight bold
      line-height 1.25
      .content:not(.custom) > &
        margin-top (0.5rem - $navbarHeight)
        padding-top ($navbarHeight + 1rem)
        margin-bottom 0
        &:first-child
          margin-top -1.5rem
          margin-bottom 1rem
          + p, + pre, + .custom-block
            margin-top 2rem
      &:hover .header-anchor
        opacity: 1
    li 
      line-height 2.3
    .icon.outbound 
      display none

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 14px
  color #cccccc
  border-left .5rem solid #42b983
  margin 1.5rem 0
  padding .55rem 0 .55rem 1rem
  word-spacing 2px
  & > p
    margin 0

ul, ol
  padding-left 1.2em

strong
  font-weight 600
  color $strongColor


h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 1.55rem

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 2.4

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color rgba(255,255,255,0.06)

th, td
  border 1px solid #504d4d
  padding .6em 1em

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block
  &.no-navbar
    .content:not(.custom) > h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0

.global-ui 
  .go-to-top 
    color #ffffff


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

@require 'mobile.styl'
