@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

// narrow desktop / iPad
@media (max-width: $MQNarrow)
  .sidebar
    font-size 15px
    width $mobileSidebarWidth
  .page
    padding-left $mobileSidebarWidth
  .reform .sidebar .nav-links a
    font-weight: 450;
  .reform .sidebar .nav-links .nav-item
    font-size:.9em;

  .right-bar 
    display none

// wide mobile
@media (max-width: $MQMobile)
  .sidebar
    top 0
    padding-top $navbarHeight
    transform translateX(-100%)
    transition transform .2s ease
  .page
    padding-left 0

  .abstract
    .post-item
      h3 
        font-size 1.2rem
        text-overflow ellipsis;
        z-index -1;
        display -webkit-box;
        word-break break-all;
        -webkit-box-orient vertical;
        -webkit-line-clamp 1;
        overflow hidden;
      .post-desc 
        font-size 1rem !important
        text-overflow ellipsis;
        z-index -1;
        display -webkit-box;
        word-break break-all;
        -webkit-box-orient vertical;
        -webkit-line-clamp 2;
        overflow hidden;
  .theme-container
    .blog-container 
      display flex
      flex-direction column
    .navbar-left 
      padding 1.5rem
    .navbar-sidebar
      display none

    
        
    &.sidebar-open
      .sidebar
        transform translateX(0)
    &.no-navbar
      .sidebar
        padding-top: 0
  .right-bar 
    display none

// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  .content
    div[class*="language-"]
      margin 0.85rem -0.5rem
      border-radius 0
