// 默认值
$background = #1e2227
$navBackground = #e2227
$accentColor = #403E3E 
$textColor = #ffffff
$borderColor = #2c2a2a
$codeBgColor = #282c34
$borderFoucsColor = #d4d8e3
$arrowBgColor = #ccc
$strongColor = #4d91fb




$maxContentWidth = 1200px
$sidebarWidth = 220px
$sideRightWidth = 200px
$contentWidth = $maxContentWidth -  $sidebarWidth 
$contentPadding = 20px
$gridGap = 40px
$sideLeftMargin = 2rem





// textcolor  d2d2d2