// 默认值
$background = #1e2227
$navBackground = #e2227
$accentColor = #403E3E 
$textColor = #cccccc
$borderColor = #2c2a2a
$codeBgColor = #282c34
$contentWidth = 935px


$sidebarWidth = 220px






// textcolor  d2d2d2