$wrapper
  max-width $contentWidth - $gridGap 
  margin 0 auto
  padding 0 0 0 $contentPadding
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

